<h1>Listing qas</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qas.each do |qa| %>
  <tr>
    <td><%= qa.question %></td>
    <td><%= qa.answer %></td>
    <td><%= link_to 'Show', qa %></td>
    <td><%= link_to 'Edit', edit_qa_path(qa) %></td>
    <td><%= link_to 'Destroy', qa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qa', new_qa_path %>
